@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("https://rare-gallery.com/uploads/posts/556815-city-cityscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
