@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("https://media.baamboozle.com/uploads/images/598757/1645532138_243306.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
